.notification {
    display: none;
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: #fff;
    color: #3E3F44;
    padding: 1rem;
    border-radius: 5px;

    &--show {
        display: block;
    }
    &--error {
        color: red;
    }
}
