.header {
    height: 11.5rem;
    background: #088B8C;
    color: #fff;
    text-align: center;
    line-height: 11.5rem;
    font-size: 2.5rem;
}
.page {
    padding: 4rem;   
    display: flex;
    justify-content: center; 
}
